{{.SetArgs}}
s_sql := fmt.Sprintf(
	"{{.Query}}",{{.Args}}
)
ret := {{.StructName}}.{{.InstanceName}}.Query(
	s_sql,
	arri_arg...,
)
defer ret.Close()
%s
for {
	pt_struct := &%s{}
	end, err := ret.Row_next(pt_struct)
	if err != nil {
		return nil, err
	}
	if end == true {
		break
	}
	%s
}

return %s, nil